@use '../1-base/base-mixins';
@use 'layouts-mixins';
@use '../1-base/variables';

.banners {
  @include layouts-mixins.center-content;
  padding: 3rem .8rem;

  @include base-mixins.mobile {
    display: block;
    padding-inline: 1.6rem;
  }
}