@use '../1-base/base-mixins';
@use '../2-layouts/layouts-mixins';

.products-grid {
  @include layouts-mixins.center-content;
  flex-direction: column;
  padding: 2rem 0.8rem;

  @include base-mixins.mobile {
    padding-inline: 1.8rem ;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    @include base-mixins.mobile {
      display: block;
    }
  }
}